.vglogo{
    height: 40px;
    width: auto;
}

.myself{
    margin-top: 28vh;
    font-size: 3rem;
    font-weight: 600;
    color: #cccccc;
}


.myrole{
    margin-top: 3vh;
    font-size: 5rem;
    font-weight: 600;
}

.sentence > p {
    margin-top: 0vh;
    color: #cccccc;
    font-size: 5rem;
    font-weight: 600;

  }

  
  .rotate{
    font-size: 5rem;
    font-weight: 600;

  }
  
  .credit {
    position: fixed;
    left: 50%;
    bottom: 20px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    font-size: 14px;
    text-decoration: none;
    color: blue;
  }
  

  
.linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, #FFB86A 20%, #FFB86A 40%, #FFB86A 60%, #FFB86A 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    /* text-fill-color: transparent; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 3s linear infinite;
    
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .subheadrole{
      width: 45vw;
      font-size: 20px;
      line-height: 160%;
      font-weight: 500;
      opacity: 0.5;

  }

  .oval{
      position: absolute;
      top: 8vh;
      right: 0px;
      height: 50vh;
      width: auto;
  }

  .oval2{
    position: absolute;
    top: 50vh;
    left: 0px;
    height: 40vh;
    width: auto;
}

.wave{
  height: 35px;
  width: auto;
  margin-bottom: -5px;
}



  .scroll{
    width: 30px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
    margin-top: -25px;
    margin-left: -15px;
}
.scroll .mouse{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 2px solid #2b2b2b;
    border-radius: 20px;
}
.scroll .wheel{
    width: 4px;
    height: 4px;
    top: 10px;
    left: 50%;
    position: absolute;
    background: #2b2b2b;
    display: block;
    border-radius: 50%;
    margin-left: -2px;
    animation-name: scroll-wheel;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

.seework{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  color: #cccccc;
  
}



@media (max-width:768px) {
  .subheadrole{
    width: 60vw;
    font-size: 18px;
  }

  .sentence > p{
    font-size: 4rem;
  }

  .rotate{
    font-size: 4rem;
  }
  
}

@media (max-width:426px) {
  .subheadrole{
    width: 80vw;
    font-size: 12px;
  }

  .sentence > p{
    font-size: 2.5rem;
  }

  .rotate{
    font-size: 2.5rem;
  }

  .myself{
    font-size: 2rem;
  }

  .wave{
    height: 22px;
    width: auto;
    margin-bottom: -3px;
  }

  .scroll{
    width: 20px;
    height: 35px;
  }

  .seework{
    font-size: 12px;
  }
  
}






.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: #dc5656;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(229, 128, 128, 0.5);
}
